asgiref==3.4.1
boto3==1.18.39
botocore==1.21.39
certifi==2019.3.9
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.4
cryptography==3.4.8
defusedxml==0.5.0
Django==2.2
django-allauth==0.45.0
django-filter==2.0.0
django-rest-auth==0.9.5
django-sendsms==0.3.1
django-storages==1.11.1
djangorestframework==3.9.2
djangorestframework-jwt==1.11.0
drfaddons==0.1.4
idna==2.8
jmespath==0.10.0
mysqlclient==2.0.3
oauthlib==3.0.1
Pillow==8.3.2
pycparser==2.20
pyfcm==1.5.4
PyJWT==1.7.1
python-dateutil==2.8.2
python3-openid==3.1.0
pytz==2018.9
requests==2.26.0
requests-oauthlib==1.2.0
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.6
